input[type=text] {
    min-width: 30vw; /* Adjust the minimum width as needed */
  padding: 2vh 1.5vw;
  color: black;
  border-radius: 15px;
  border: 3px solid black;
  font-size: 1.5vw;
  text-align: left;
  box-sizing: border-box; /* Include padding and border in the width calculation */


  &:focus {
    outline: none;
  }
}

button {
    margin-left: 1vw;
    padding: 2vh 3vw; /* Adjust the values as needed */
  background-color: aqua;
  color: black;
  cursor: pointer;
  border-radius: 15px;
  border-style:none;
  border: 3px solid black;
  font-size: 1.5vw;
  transition: ease background-color 250ms, ease transform 250ms;

  &:hover {
    background-color: blue;
    transform: scale(1.05);
  }
}
